<section>
    <div class="jumbotron" style="background-color: skyblue; opacity: 0.8; overflow: auto; margin-top: 20px">
        <p>Hello there, i see you wanna create your own komic...Good! Good!! So here's the deal:</p>
        <p>Your komics are store directly to amazon's cloud storage server (S3), which ensures that our server isn't loaded with your junks...(just kidding).</p>
        <p>I'm the GOD here...so i alone can delete or update any Komics, so think again...Are you sure you still wanna create komics? Afterall you're uploading to my bucket :p</p>
        <p>This is version 0.0.1...so you might notice a couple of glitches, well, it's ***'s fault...i'm relatively new to MEAN STACK...So forward your complaints to him - ***.</p>
        <p>Please note that your image files are uploaded directly to amazon after selecting them. So wait a moment before clicking the "Create" button.</p>
        <p>Thank y'all for being a part of this!</p>
    </div>
</section>
<section data-ng-controller="KomicsController">
    <div class="page-header">
        <h1>Create Komikaze</h1>
    </div>
    <div class="col-md">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                     <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                    <label class="control-label" for="genres">Genre</label>
                    <div class="controls">
                       <select class="form-control" data-ng-model="genre" required>
                        <option value=''>Select a genre</option>
                        <option value='Action'>Action</option>
                        <option value='Drama'>Drama</option>
                        <option value='Adventure'>Adventure</option>
                       </select>
                    </div>
                    <div>
                        <label class="control-label" for="upload">Upload Images</label>
                        <div class="controls">
                            <input type="file" ng-file-select="onFileSelect($files)" data-ng-model="images" multiple accept="image/*" required>
                        </div>
                    </div>
                </div>
                <div ng-show="loading">
                    <img src="/modules/core/img/loaders/bar.gif">
                    <p>Uploading...</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" data-container:"body">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
<section>
    <div class="col text-center">
        <br>Enjoy Komikaze &amp; Don't Forget to tell your friends about us,
        <br>&copy 2014 The Andela Team.
    </div>
</section>